<h4>Webservices API</h4>
<table class="bordered-table zebra-striped">
<tr>
<td><a target="new" href="/WebModSignOn/1111/1111.json">WebModSignOn(1111, 1111)</a></td>
</tr>
<tr><td><a target="new" href="/api/v1/pickup/123/get_deliveries">Get all the deliveries and its units <b>api/v1/pickup/pickup_id/get_deliveries</b></a></td></tr>
</table>
