<h4>Webservices API</h4>
<table class="bordered-table zebra-striped">
<tr>
<td><a target="new" href="/WebModSignOn/1111/1111.json">WebModSignOn(1111, 1111)</a></td>
</tr>
<tr><td><a target="new" href="/WebModBarcodeTemplate/34.json">WebModBarcodeTemplate(34, token)</a></td></tr>
<tr><td><a target="new" href="/WebModTotal?items=[34,33]">WebModTotal([34, 33])</a></td></tr>
<tr><td><a target="new" href="/WebModPayment/d8aea2014?items=[34,33]">WebModPayment([34, 33], d8aea2014)</a></td></tr>
</table>
